body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #011839;
  font-family: "Gotham SSm A", "Gotham SSm B", helvetica, arial, sans-serif;
}

main {
  color: white;
  text-align: center;
  padding: 1rem;
}

pre {
  background-color: #008674;
  padding: 2rem;
  border-radius: 0.8rem;
}

a {
  color: white;
  text-decoration: none;
}

svg {
  max-width: 100%;
}
